nav.navbar.fixed-top
    .container.mt-3.ms-2
        .nav-item
            p.text-white.h6 #{title}
    .container.justify-content-center.mt-2
        .nav-item
            a(href="#").nav-link.custom-tab.active.h6 Prompt Maker
        .nav-item
            a(href="#").nav-link.text-inactive.h6 Tutorial